<!DOCTYPE html>
<html>
  <head>
    <title data-inertia>Routeprint</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= inertia_ssr_head %>
    <%= vite_react_refresh_tag %>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag "application" %>
    <%= vite_typescript_tag "application.tsx" %>
  </head>

  <body>
    <%= yield %>
    <noscript>Routeprint needs JavaScript to render the application.</noscript>
  </body>
</html>
